SECRET_KEY=
DEBUG=True

DB_NAME=
DB_USER=root
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=3306

SECUREDRIVE_AES_KEY=
SECUREDRIVE_PEPPER=
SECUREDRIVE_CURRENT_KEY_ID=1

SECURE_SSL_REDIRECT=False
SECURE_HSTS_SECONDS=0
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False