@import "tailwindcss";

:root {
  /* BlueDrive Brand */
  --brand-primary: #7288fa;
  --brand-primary-hover: #5f75e8;
  --brand-primary-soft: #eef1ff;

  --brand-dark: #121523;
  --brand-deep: #04050c;

  /* UI */
  --background: #f6f8fc;
  --surface: #ffffff;
  --border: #e4e8f0;

  --foreground: #121523;
  --muted: #71809a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-brand: var(--brand-primary);
  --color-brand-hover: var(--brand-primary-hover);
  --color-brand-soft: var(--brand-primary-soft);

  --color-brand-dark: var(--brand-dark);
  --color-brand-deep: var(--brand-deep);

  --color-surface: var(--surface);
  --color-border: var(--border);
  --color-muted: var(--muted);

  --font-sans: var(--font-poppins);
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
}
